PORT=3000
ALLOWED_ORIGIN=https://popovicibnp.ro

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=emailul_tau@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx

MAIL_TO=emailul_destinatar@yahoo.com
